.about_table {
    display: flex;
    justify-content: center;
}

.icon{
    margin-right: 5%;
}
.column_wrapper{
    margin-top: 25%;
}

.left_column{
    vertical-align: top;
    text-align: center;
    width: 50%;
}

.left_column p{
    font-size: 30px;
    line-height: 10px;
}

.middle_column{
    width: 10vw;
}